@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap');
h2 {
    text-align: center;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: 'IBM Plex Mono', monospace;
}

header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: rgb(238, 238, 238);
    width: 100%;
    border-radius: 4px;
}

main {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 0 0 50px 0;
}

#table {
    margin-left: auto;
    margin-right: auto;
    vertical-align: auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#table th {
    height: 35px;
    background-color: #F4BFD4;
}

#table tr {
    background-color: white;
}

#table tr:nth-child(even) {
    background-color: #ffe2ee;
}

#table tr:hover {
    background-color: #e9d5dd;
}

button {
    font-family: 'IBM Plex Mono', monospace;
}

.edit {
    background-color: #1fb833;
    border: 1px solid black;
    text-align: center;
    padding: 10px 40px;
    color: white;
    border-radius: 4px;
}

.edit:hover {
    background-color: #157e23;
}

.edit:active {
    border: none;
}

.edit:disabled {
    color: #ccc;
    background-color: #1b8529;
}

.del {
    background-color: #b81f1f;
    border: 1px solid black;
    text-align: center;
    padding: 10px 40px;
    color: white;
    border-radius: 4px;
}

.del:hover {
    background-color: #7e1515;
}

.del:active {
    border: none;
}

.del:disabled {
    background-color: #b65656;
    color: #ccc;
}

#add {
    background-color: #F4BFD4;
    border: 1px solid black;
    text-align: center;
    color: black;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    width: 15%;
}

#add:hover {
    background-color: #e9d5dd;
}

#add:active {
    border: none;
}

.button_field {
    width: 10px;
}

input {
    width: 70%;
    height: 25px;
    margin: 5px 0 15px 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.campo {
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.rules {
    background-color: rgb(238, 238, 238);
    margin: 20px 0 20px 0;
    padding: 0 10px 0 10px;
    border-radius: 4px;
}

.rules:hover {
    background-color: rgb(230, 230, 230);
}

.wrap2 {
    padding: 40px 40px 0 40px;
}

#title_rules {
    font-weight: bold;
    text-align: center;
    font-size: large;
}

@media only screen and (max-width: 992px) {
    .wrap {
        flex-direction: column-reverse;
    }
    .form {
        width: 100%;
    }
    input {
        border: 0;
        border-bottom: 1px solid #ccc;
        background-color: rgb(238, 238, 238);
    }
    .rules {
        height: 40%;
        text-align: center;
    }
    .campo {
        text-align: center;
    }
    .campo div {
        display: none;
    }
    #add {
        align-self: center;
        width: 50%;
        border-radius: 12px;
    }
}